body {
    background: green;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.confetti {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    display: none;
    position: relative;
}
   
i {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 8px;
    opacity: 0;
    animation: bang 1.5s ease-out forwards;
}
   
@keyframes bang {
    from {
    transform: translate3d(0,0,0);
    opacity: 1;
    }
}

.blackboard {
    background-image: url('/images/blackboard.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100%;
    height: 95vh;
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.animals {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animal {
    width: 128px;
    height: 128px;
    cursor: pointer;
}

@media screen and (orientation: portrait) {
    body {
        background-color: #2A3935;
    }
    .blackboard {
        flex-direction: row-reverse;
        background: none;
        height: 70vh;
        margin-top: 10vh;
    }
    .animals {
        flex-direction: column;
        height: 80vh;
    }
}

@media screen and (max-width: 700px) {
    .animals {
        width: 80%;
    }
    .animal {
        width: 96px;
        height: 96px;
    }
}